<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Inicio</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
          <li class="breadcrumb-item active">Inicio</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="card card-primary card-outline">
          <div class="card-body">
            <h5 class="card-title">Contactos</h5>

            <p class="card-text">
              Consultar, crear, modificar o eliminar contactos.
            </p>

            <a routerLink="/contactos" class="card-link">Contactos</a>
          </div>
        </div>

        <div class="card card-primary">
          <div class="card-header">
            <h5 class="m-0">Contacto</h5>
          </div>
          <div class="card-body">
            <h6 class="card-title">Nuevo Contacto</h6>

            <p class="card-text">Agregar nuevo contacto.</p>
            <a routerLink="/contacto/add" class="btn btn-primary">Nuevo Contacto</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-6 -->
      <div class="col-lg-6">
        <div class="card card-primary card-outline">
          <div class="card-body">
            <h5 class="card-title">Denuncias</h5>

            <p class="card-text">
              Consultar, crear, modificar o eliminar denuncias.
            </p>

            <a routerLink="/denuncias" class="card-link">Denuncias</a>
          </div>
        </div>

        <div class="card card-primary">
          <div class="card-header">
            <h5 class="m-0">Denuncia</h5>
          </div>
          <div class="card-body">
            <h6 class="card-title">Nueva Denuncia</h6>

            <p class="card-text">Agregar nueva denuncia.</p>
            <a routerLink="/denuncia/add" class="btn btn-primary">Nueva Denuncia</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content -->
