<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Nueva Denuncia</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/">Inicio</a></li>
          <li class="breadcrumb-item active">Nueva Denuncia</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
  <div class="container-fluid">

    <!-- general form elements -->
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Nueva Denuncia</h3>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      <form role="form" (submit)="addDenuncia()" ngNativeValidate>
        <div class="card-body">

          <div class="form-group row">
            <label for="tipo" class="col-sm-2 col-form-label">Tipo*</label>
            <div class="col-sm-10">
              <!-- select -->
              <select name="tipo" class="form-control" [(ngModel)]="denuncia.tipo">
                <option value="0">-- Seleccionar tipo --</option>
                <option *ngFor="let tipo of tipos" value="{{tipo.tipo}}">{{tipo.nombre}}</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="contacto" class="col-sm-2 col-form-label">Contacto*</label>
            <div class="col-sm-10">
              <!-- select -->
              <select name="contacto" class="form-control" [(ngModel)]="denuncia.contacto">
                <option value="0">-- Seleccionar contacto --</option>
                <option *ngFor="let contacto of contactos" value="{{contacto.contacto}}">{{contacto.codigo}} {{contacto.numero}}</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="nombre" [(ngModel)]="denuncia.nombre"
                placeholder="Nombre">
            </div>
          </div>

          <div class="form-group row">
            <label for="comentario" class="col-sm-2 col-form-label">Comentario*</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="comentario" [(ngModel)]="denuncia.comentario"
                placeholder="Comentario">
            </div>
          </div>

          <div class="form-group row">
            <label for="valoracion" class="col-sm-2 col-form-label">Valoración</label>
            <div class="col-sm-10">
              <!-- radio -->
              <div class="form-group row">
                <div class="col-sm-12 form-inline">
                  <div class="custom-control custom-radio" style="margin-right: 20px;">
                    <input class="custom-control-input" type="radio" id="valoracion0" name="valoracion" [(ngModel)]="denuncia.valoracion" [value]="0">
                    <label for="valoracion0" class="custom-control-label">0</label>
                  </div>
                  <div class="custom-control custom-radio" style="margin-right: 20px;">
                    <input class="custom-control-input" type="radio" id="valoracion1" name="valoracion" [(ngModel)]="denuncia.valoracion" [value]="1">
                    <label for="valoracion1" class="custom-control-label">1</label>
                  </div>
                  <div class="custom-control custom-radio" style="margin-right: 20px;">
                    <input class="custom-control-input" type="radio" id="valoracion2" name="valoracion" [(ngModel)]="denuncia.valoracion" [value]="2">
                    <label for="valoracion2" class="custom-control-label">2</label>
                  </div>
                  <div class="custom-control custom-radio" style="margin-right: 20px;">
                    <input class="custom-control-input" type="radio" id="valoracion3" name="valoracion" [(ngModel)]="denuncia.valoracion" [value]="3">
                    <label for="valoracion3" class="custom-control-label">3</label>
                  </div>
                  <div class="custom-control custom-radio" style="margin-right: 20px;">
                    <input class="custom-control-input" type="radio" id="valoracion4" name="valoracion" [(ngModel)]="denuncia.valoracion" [value]="4">
                    <label for="valoracion4" class="custom-control-label">4</label>
                  </div>
                  <div class="custom-control custom-radio" style="margin-right: 20px;">
                    <input class="custom-control-input" type="radio" id="valoracion5" name="valoracion" [(ngModel)]="denuncia.valoracion" [value]="5">
                    <label for="valoracion5" class="custom-control-label">5</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- /.card-body -->

        <div class="card-footer">
          <button type="submit" class="btn btn-primary">Guardar</button>
          <a routerLink="/denuncias" class="btn btn-default">Cancelar</a>
        </div>
        <!-- /.card-footer -->

      </form>
    </div>
    <!-- /.card -->

  </div><!-- /.container-fluid -->
</div>
<!-- /.content -->
